.button {
  display: inline-flex;
  font: inherit;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.button:hover,
.button:focus  {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}
